body {
    color: #333333;
}

#vert {
    padding: 0px;
    height: 48px;
    margin: 1px;
}

@media(min-width:300px) and (max-width:997px) {
    #vert {
        display: none;
    }

    #search,#large {
        display: none;
    }
}

@media(min-width:997px) {
    #small {
        display: none;
    }
}