body {
    color: #333333;
}

#vert {
    padding: 0px;
    height: 48px;
    margin: 1px;
}

@media(min-width:300px) and (max-width:997px) {
    #vert {
        display: none;
    }

    #search,#large {
        display: none;
    }
}

@media(min-width:997px) {
    #small {
        display: none;
    }
}
#sort{
    font-size: 10px;
    border-radius:50px; 
    color:gray;
    margin: 10px 2px 2px 10px;
    --bs-btn-hover-bg : white;
}
#m{
    margin: 10px 0px 0px 50px;
}
#overlap{
    text-decoration: none;
    border-radius: 50px;
    background-color:white;
    margin-top: -20px;
    width: fit-content;
  }
