@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="\css\loginStyle.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div id="Carousel" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-indicators">
                    <button data-bs-target="#Carousel" data-bs-slide-to="0"></button>
                    <button data-bs-target="#Carousel" data-bs-slide-to="1" class="active"></button>
                    <button data-bs-target="#Carousel" data-bs-slide-to="2"></button>
                    <button data-bs-target="#Carousel" data-bs-slide-to="3"></button>
        
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item">
                      <img src="\images\Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                        class="d-block w-100" alt="...">
                      <div class="carousel-caption ">
                        <h5>Sed ut perspiciatis unde omnis iste natus voluptatem.</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                          aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                          officia deserunt mollit anim id est laborum..</p>
                      </div>
                    </div>
                    <div class="carousel-item active">
                      <img src="\images\Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                        class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Sed ut perspiciatis unde omnis iste natus voluptatem.</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                          aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                          officia deserunt mollit anim id est laborum.</p>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src="\images\Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                        class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Sed ut perspiciatis unde omnis iste natus voluptatem.</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                          aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                          officia deserunt mollit anim id est laborum.</p>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src="\images\Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                        class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Sed ut perspiciatis unde omnis iste natus voluptatem.</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                          aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                          officia deserunt mollit anim id est laborum.</p>
                      </div>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#Carousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#Carousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
            <div class="col-md-12 col-lg-4">
                <form id="sp">
                    <label id="color">First Name</label>
                    <input type="text" class="form-control center-block" placeholder="evan" required><br>
                    <label id="color">Last Name</label>
                    <input type="text" class="form-control center-block" placeholder="donohue" required><br>
                    <label id="color">Phone Number</label>
                    <input type="text" class="form-control center-block" placeholder="8923454615" required><br>
                    <label id="color">Email Address</label>
                    <input type="text" class="form-control center-block" placeholder="evan.donohue@gmail.com" required><br>
                    <label id="color">Password</label>
                    <input type="password" class="form-control center-block" placeholder="**********" required><br>
                    <label id="color">Confirm Password</label>
                    <input type="password" class="form-control center-block" placeholder="**********" required><br>
                    <button id="btn" class="form-control center-block">Register</button><br>
                    <p id="center"><a asp-controller="Home" asp-action="Forgot_pswd" id="color" style="text-decoration: none;">Lost your password?</a></p>
                    <p id="center">Already registered? <span><a asp-controller="Home" asp-action="Index">Login now</a></span></p>
                </form>
                <footer id="f1">Privacy Policy</footer>
            </div>
        </div>
    </div>
</body>
</html>